@tailwind base;
@tailwind components;
@tailwind utilities;



.body {
    @apply bg-white font-sans leading-normal tracking-normal
  }
  
  
  @font-face {
    font-family: Blackout;
    src: url("/public/Roboto-Regular.ttf") format("opentype");
  }
  
  
    .hover-underline-animation {
      display: inline-block;
      position: relative;
    }
    
   .hover-underline-animation::after {
  content: '';
      position: absolute;
      width: 100%;
      transform: scaleX(0);
      height: 2px;
      bottom: 0;
      left: 0;
      background-color: #008346;
      transform-origin: bottom right;
      transition: transform 0.75s ease-out;
    }
    
  .hover-underline-animation:hover::after {
  
      transform: scaleX(1);
      transform-origin: bottom left;
    }
  
  
  
  .header {
    height: 800px;
  }
  
  
  .wrapper {
    @apply py-20 px-12;
  }
  
  .news-section {
    @apply bg-white w-full;
  }
    .news-section__cards {
      @apply mb-6;
    }
    
    .news-section__news-card {
      @apply mt-2
    }
    .news-section__featured-card-title {
      @apply text-lg font-semibold text-gray-800 text-center  mt-3 mb-3;
    }
  
    .news-section__featured-card-imageWraper{
      @apply  rounded-lg transform ;
    }
    
    .news-section__news-card-text {
      @apply text-xs text-center
    }
  
    .readmore {
      @apply relative inline-flex items-center justify-center mt-3 p-2 px-6 py-2 overflow-hidden font-medium text-indigo-600 transition duration-300 ease-out border-2 border-green-800 rounded-full shadow-md
     }
  
     .readmores {
      @apply absolute inset-0 flex items-center justify-center w-full h-full text-white duration-300 -translate-x-full bg-green-800 group-hover:translate-x-0 
     }
  
     .readmorespan {
      @apply absolute flex items-center justify-center w-full h-full text-gray-900 transition-all duration-300 transform group-hover:translate-x-full 
     }
  
  
     .area {
      background: #4e54c8;
      background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);
      width: 100%;
      height: 100vh;
      position: absolute;
      z-index: -1;
    }
    
    .circles {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 96%;
      overflow: hidden;
    }
    
    .circles li {
      position: absolute;
      display: block;
      list-style: none;
      width: 20px;
      height: 20px;
      background: rgba(255, 255, 255, 0.2);
      animation: animate 25s linear infinite;
      bottom: -150px;
    }
    
    .circles li:nth-child(1) {
      left: 25%;
      width: 80px;
      height: 80px;
      animation-delay: 0s;
    }
    
    .circles li:nth-child(2) {
      left: 10%;
      width: 20px;
      height: 20px;
      animation-delay: 2s;
      animation-duration: 12s;
    }
    
    .circles li:nth-child(3) {
      left: 70%;
      width: 20px;
      height: 20px;
      animation-delay: 4s;
    }
    
    .circles li:nth-child(4) {
      left: 40%;
      width: 60px;
      height: 60px;
      animation-delay: 0s;
      animation-duration: 18s;
    }
    
    .circles li:nth-child(5) {
      left: 65%;
      width: 20px;
      height: 20px;
      animation-delay: 0s;
    }
    
    .circles li:nth-child(6) {
      left: 75%;
      width: 110px;
      height: 110px;
      animation-delay: 3s;
    }
    
    .circles li:nth-child(7) {
      left: 35%;
      width: 150px;
      height: 150px;
      animation-delay: 7s;
    }
    
    .circles li:nth-child(8) {
      left: 50%;
      width: 25px;
      height: 25px;
      animation-delay: 15s;
      animation-duration: 45s;
    }
    
    .circles li:nth-child(9) {
      left: 20%;
      width: 15px;
      height: 15px;
      animation-delay: 2s;
      animation-duration: 35s;
    }
    
    .circles li:nth-child(10) {
      left: 85%;
      width: 150px;
      height: 150px;
      animation-delay: 0s;
      animation-duration: 11s;
    }
    
  .hrCover {
    height: 500px;
  }
  
  .greenM {
    color: #00925E
  }
  
    @keyframes animate {
      0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
      }
    
      100% {
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
      }
    }
  
  
  
  /* svg file  */
  #Girl
  {
      animation: swing ease-in-out 1s infinite alternate;
      transform-origin: center -20px;
      transform-box: fill-box;
      float:left;
      box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
  
  }
  
  @keyframes swing {
      0% { transform: rotate(9deg); }
      100% { transform: rotate(-9deg); }
  }
  
  
  #Vector_38
  {
      animation: swing ease-in-out 1s infinite alternate;
      transform-origin: center 0px;
      transform-box: fill-box;
      float:left;
  }
  
  #Vector_39{
      animation: swing ease-in-out 1s infinite alternate;
      transform-origin: center 0px;
      transform-box: fill-box;
      float:left;
  }
  
  #Vector_40
  {
      animation: swing ease-in-out 1s infinite alternate;
      transform-origin: center -20px;
      transform-box: fill-box;
      float:left;
  }
  
  
  .shap.one {
      background-image: -moz-linear-gradient(140deg, #009688 0%, #009688 100%);
      background-image: -webkit-linear-gradient(140deg, #009688 0%, #009688 100%);
      background-image: -ms-linear-gradient(140deg, #009688 0%, #009688 100%);
      width: 650px;
      height: 510px;
      top: -43%;
      left: -58%;
  }
  .shap {
      position: absolute;
      opacity: 0.05;
      transform: rotate(45deg);
      left: 90px;
      z-index: -1;
      border-radius: 45px;
  }
  
  .shap.two {
      background-image: -moz-linear-gradient(140deg, #009688 0%, #009688 100%);
      background-image: -webkit-linear-gradient(140deg, #009688 0%, #009688 100%);
      background-image: -ms-linear-gradient(140deg, #009688 0%, #009688 100%);
      width: 666px;
      height: 330px;
      top: -42%;
      left: -15%;
  }
  .mauto{margin:auto;}
  /* .bg-svg{
      
      background-image: url("");
      background-repeat: no-repeat;
      background-size: cover;
      z-index: -1;
      position: relative;
      
    margin-bottom:40px;
  }
   */
  body{
     background-color: #fafafa;
  }
  
  #Leaf1
  {
      -webkit-animation: shake-bottom 2s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
              animation: shake-bottom 2s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
              transform-box: fill-box;
              }
  
  
  #leaf11
  {
      -webkit-animation: shake-bottom 2.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
              animation: shake-bottom 2.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
              transform-box: fill-box; 
  }
  
  #leaf10
  {
      -webkit-animation: shake-bottom 3s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
              animation: shake-bottom 3s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
              transform-box: fill-box; 
  }
  
  #leaf12
  {
      -webkit-animation: shake-bottom 9s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
              animation: shake-bottom 9s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
              transform-box: fill-box;
  }
  
  #leaf13
  {
      -webkit-animation: shake-bottom 8s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
              animation: shake-bottom 8s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
              transform-box: fill-box;
  }
  
  #lef14
  {
      -webkit-animation: shake-bottom 7.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
              animation: shake-bottom 7.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
              transform-box: fill-box;
  }
  
  #leaf15
  {
      -webkit-animation: shake-bottom 7s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
              animation: shake-bottom 7s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
              transform-box: fill-box;
  }
  
  #leaf16
  {
      -webkit-animation: shake-bottom 6.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
              animation: shake-bottom 6.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
              transform-box: fill-box;
  }
  
  #leaf17
  {
      -webkit-animation: shake-bottom 6s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
              animation: shake-bottom 6s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
              transform-box: fill-box;
  }
  
  @-webkit-keyframes shake-bottom {
    0%,
    100% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
      -webkit-transform-origin: 50% 100%;
              transform-origin: 50% 100%;
    }
    10% {
      -webkit-transform: rotate(2deg);
              transform: rotate(2deg);
    }
    20%,
    40%,
    60% {
      -webkit-transform: rotate(-4deg);
              transform: rotate(-4deg);
    }
    30%,
    50%,
    70% {
      -webkit-transform: rotate(4deg);
              transform: rotate(4deg);
    }
    80% {
      -webkit-transform: rotate(-2deg);
              transform: rotate(-2deg);
    }
    90% {
      -webkit-transform: rotate(2deg);
              transform: rotate(2deg);
    }
  }
  @keyframes shake-bottom {
    0%,
    100% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
      -webkit-transform-origin: 50% 100%;
              transform-origin: 50% 100%;
    }
    10% {
      -webkit-transform: rotate(2deg);
              transform: rotate(2deg);
    }
    20%,
    40%,
    60% {
      -webkit-transform: rotate(-4deg);
              transform: rotate(-4deg);
    }
    30%,
    50%,
    70% {
      -webkit-transform: rotate(4deg);
              transform: rotate(4deg);
    }
    80% {
      -webkit-transform: rotate(-2deg);
              transform: rotate(-2deg);
    }
    90% {
      -webkit-transform: rotate(2deg);
              transform: rotate(2deg);
    }
  }
  
    